@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Oswald:wght@200..700&family=Smooch+Sans:wght@100..900&display=swap');

/**navbar**/
/*barra fija*/
.navbar {
    background-color: #121212;

    position: sticky;
    top: 0;
    z-index: 1020;
}

/*nav*/
.navbar {
    background-color: #121212b6;
    border-bottom: 1px solid #1f1f1f;
    padding-top: 4px;
    padding-bottom:4px;
}


/*logo*/
.logo-nav {
    height: 70px;
    width: auto;
}

/*muñeco busqueda*/
.login-icon{
    color: #d1d1d1; /* gris claro */
    font-size: 2.3rem; /* tamaño del icono */
    margin-right: 15px;
    text-decoration: none;
}
.login-icon:hover {
    color: #ffffff; /* blanco */
}

/*suscripción*/
.btn-primary {
    background-color: #133b91;  /* azul más moderno */
    border-color: #16409a;
    border-radius: 6px;
}

.btn-primary:hover {
    background-color: #1e4fd8;
    border-color: #1e4fd8;
}



/*links*/
.nav-link {
    color: #cfcfcf 
}

.nav-link:hover {
    color: white 
}

.navbar-nav .nav-link {
    margin-right: 15px;
}

.login-icon{
    padding: 10px;
}

/*!responsive¡*/
@media (max-width: 992px){
    .logo-nav {
        height: 50px;
    }

    .navbar-nav{
        margin-bottom: 15px;
    }

    .login-icon {
        font-size: 1.8rem;
        margin-top: 10px;
    }

    /*cambia el color de fondo cuando se habre el boton hamburguesa*/

    .navbar-collapse{
        background-color: #1a1a1a;
        padding: 15px;
        margin-top: 10px;
        transition: all 0.20s ease; 
    }
}


