@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Oswald:wght@200..700&family=Smooch+Sans:wght@100..900&display=swap');

/**navbar**/
/*barra fija*/
.navbar {
    background-color: #141414;
    position: sticky;
    top: 0;
    z-index: 1020;
}

/*nav*/
.navbar {
    background-color: #121212;
    border-bottom: 1px solid #1f1f1f;
    padding-top: 4px;
    padding-bottom:4px;
}


/*logo*/
.logo-nav {
    height: 70px;
    width: auto;
}

/*muñeco busqueda*/
.login-icon{
    color: #d1d1d1; /* gris claro */
    font-size: 2.3rem; /* tamaño del icono */
    margin-right: 15px;
}
.login-icon:hover {
    color: #ffffff; /* blanco */
}

/*suscripción*/
.btn-danger {
    background-color: #233ec892;
    border-color: #121898a8;
    border-radius: 6px;
    padding: 6px 14px;
}
.btn-danger:hover {
    background-color: #3538dc;
    border-color: #242a9fa8;
}


/*links*/
.nav-link {
    color: #cfcfcf 
}

.nav-link:hover {
    color: white 
}

